// Override this file to add your own SCSS styling.
#profile {
    text-align: center;
    padding: 0px 0px 20px 0px;
    position: relative;
  }  

.avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    object-fit: cover;
  }
  
  .home-section {
    background-color: $sta-home-section-odd;
    padding: 30px 0 10px 0;
    animation: intro 0.3s both;
    animation-delay: 0.15s;
  }
  